body {
	font-family:sans-serif;
	color: #555555;
	
}

.download-area {
	/* Rectangle 4: */
	background: #F0F0F0;
	-moz-box-shadow:    0px 1px 0px 0px rgba(0,0,0,0.20);
	box-shadow:         0px 1px 0px 0px rgba(0,0,0,0.20);
	width: 100%;
	height: 132px;
	vertical-align: middle;
}

.main-area {
	background: #FFFFFF;
	width: 100%;
}

.confirm-area {
	/* Background: */
	background: #FFFFFF;
	-moz-box-shadow:    0px -2px 6px 0px rgba(85,85,85,0.40), 0px -1px 0px 0px rgba(0,0,0,0.20), 0px 1px 0px 0px rgba(0,0,0,0.20);
	box-shadow:         0px -2px 6px 0px rgba(85,85,85,0.40), 0px -1px 0px 0px rgba(0,0,0,0.20), 0px 1px 0px 0px rgba(0,0,0,0.20);
	z-index: 100px;
	width: 100%;
	height: 400px;
	position: absolute;
	bottom: 0px;
}

.st-logo {
	position: absolute;	
	width: 97px;
	height: 97px;
	left: 30px;
	top: 18px;
}

.st-title {
	position: absolute;
	height: 96px;
	text-align: left;
	left: 140px;
}

.st-title-text-ch {
	font-size: 26px;
	font-weight: bold;
	color: #555555;
	margin-top: 32px;
	margin-bottom: 0px;
}

.st-title-text-en {
	font-size: 20px;
	color: #555555;
	margin-top: 10px;
}

.st-download {
	position: absolute;
	right: 30px;
	top: 43px;
}

.st-download-button {
	background-color: #23A2FF;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	border-radius: 5px;

	font-size: 16px;
	margin: .5em 0;
	padding: .9em 1.2em;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	display: block;
	vertical-align: middle;
}

.st-button {
	border-radius: 10px;
	/* Rectangle 17: */
	background: #23A2FF;
	font-family: STHeitiSC-Light;
	color: #FFFFFF;
	height: 88px;
	width: 580px;
}



.st-event-baseInfo {
	width: 100%;
	height: 312px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.st-event-vipInfo {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.st-confirm-switch {
	margin: 5px auto;
}

.st-confirm-input-area {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.st-confirm-input {
	border-radius: 10px;
	/* Rectangle 41: */
	background: #FFFFFF;
	border: 1px solid #979797;
	height: 58px;
	width: 128px;

	font-family: STHeitiSC-Light;
	font-size: 32px;
	color: #AAAAAA;
	line-height: 33px;
}

/** float */
.pull-left {
	float:left;
	display:inline;
}

.pull-right {
	float:right;
	display:inline;
}

.clear{clear:both;}




















